{% extends 'layouts/MainLayout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos sed, omnis quo provident totam sit vitae nulla cumque
  commodi soluta deserunt laudantium impedit officia quasi, nihil possimus earum ducimus dolores est. Velit fugiat nobis
  impedit provident ea a sint, natus reiciendis similique? Perferendis, consectetur soluta minima natus illum
  reprehenderit sequi!</p>
{% endblock %}